{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
<div class="parallax">
    <div class="container mt-5 my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card no-hover">
                    <div class="card-body">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        
                        <h1 class="text-center mb-4" style="color: Black;">
                            M'inscrire
                        </h1>

                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm, {'attr': {'id': 'registrationForm', 'novalidate': 'novalidate'}}) }}

                        <fieldset class="mb-3">
                            <legend>Mon identité</legend>
                            <div class="mb-3">
                                {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'id': 'nom'}}) }}
                                <span id="nom-error" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'id': 'prenom'}}) }}
                                <span id="prenom-error" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'mail'}}) }}
                                <span id="mail-error" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'password'}}) }}
                                <span id="password-error" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmer le mot de passe">
                                <span id="confirm-password-error" class="text-danger"></span>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3">
                            <legend>Mes coordonnées</legend>
                            <div class="mb-3">
                                {{ form_row(registrationForm.pays, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.ville, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.cp, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.telephone, {'attr': {'class': 'form-control', 'id': 'telephone'}}) }}
                                <span id="telephone-error" class="text-danger"></span>
                            </div>
                        </fieldset>

                        <div class="mb-3">
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>

                        <div class="text-center">
                            <button type="submit" id="button1" class="btn btn-secondary">
                                M'inscrire
                            </button>
                        </div>

                        {{ form_end(registrationForm) }}

                        <p class="text-center mt-3">
                            Déjà inscrit ?
                            <a href="{{ path('app_login') }}">
                                Me connecter
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}